<div class="container" ng-controller="CreateGroupController">
    <div class="row" style="margin-top: 10px">
        <div class="col-sm-2">
            <ng-include src="'views/menu.html'"></ng-include>
        </div>

        <div class="col-sm-6">
            <h3>{{'groups.create' | translate}}</h3>
            <form>
                <div class="form-group">
                    <label for="inputName">{{'groups.name' | translate}}</label>
                    <input ng-model="newGroup.name" class="form-control" id="inputName" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="inputDescription">{{'groups.description' | translate}}</label>
                    <input ng-model="newGroup.description" class="form-control" id="inputDescription">
                </div>
                <div ng-show="hasError()" class="alert alert-danger">
                    <div ng-repeat="error in errors track by $index">{{error | translate}}</div>
                </div>
                <button ng-click="create()" class="btn btn-secondary btn-custom">{{'common.create' | translate}}</button>
            </form>
        </div>
    </div>
</div>
