<div class="container" ng-controller="FriendController">
    <div class="row" style="margin-top: 10px">
        <div class="col-sm-2">
            <ng-include src="'views/menu.html'"></ng-include>
        </div>

        <div class="col-sm-6">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" ng-class="{active: isSet(1)}" ng-click="setTab(1)">{{'friends.menu.my' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-class="{active: isSet(2)}" ng-click="setTab(2)">{{'friends.menu.request' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-class="{active: isSet(3)}" ng-click="setTab(3)">{{'friends.menu.search' | translate}}</a>
                </li>
            </ul>
            <br>
            <table ng-show = "isSet(1)" style="width: 100%">
                <tr style="margin-top: 3px" ng-repeat="friend in friends track by $index">
                    <td style="vertical-align: top"><a ui-sref="userPage({userId: friend.id})"><img width="200" height="200" ng-src="data:image/JPEG;base64,{{friend.details.image64code}}"></a></td>
                    <td style="vertical-align: top">
                        <div style="background-color: gainsboro; padding: 3px; padding-left: 5px"><h4><a class="custom-link" ui-sref="userPage({userId: friend.id})">{{friend.fullName}}</a></h4></div>
                        <button type="button" class="btn btn-secondary btn-custom">{{'friends.send.message' | translate}}</button>
                        <button type="button" class="btn btn-secondary btn-custom" ng-click="remove(friend.id)">{{'friends.remove' | translate}}</button>
                    </td>
                </tr>
            </table>
            <table ng-show = "isSet(2)" style="width: 100%">
                <tr style="margin-top: 3px" ng-repeat="request in requestFriends track by $index">
                    <td style="vertical-align: top"><a ui-sref="userPage({userId: request.fromUserId})"><img width="200" height="200" ng-src="data:image/JPEG;base64,{{request.fromUserAvatar64code}}"></a></td>
                    <td style="vertical-align: top">
                        <div style="background-color: gainsboro; padding: 3px; padding-left: 5px"><a class="custom-link" ui-sref="userPage({userId: request.fromUserId})"><h4>{{request.fromUserName}}</h4></a></div>
                        <button type="button" class="btn btn-secondary btn-custom" ng-click="accept(request.id)">{{'friends.accept' | translate}}</button>
                        <button type="button" class="btn btn-secondary btn-custom" ng-click="decline(request.id)">{{'friends.decline' | translate}}</button>
                    </td>
                </tr>
            </table>
            <div ng-show = "isSet(3)">
                <ng-include src="'views/templates/search.html'" ng-init="placeholder='search.name'"></ng-include>
                <table style="width: 100%">
                    <tr style="margin-top: 3px" ng-repeat="user in foundUser track by $index">
                        <td style="vertical-align: top"><a ui-sref="userPage({userId: user.id})"><img width="200" height="200" ng-src="data:image/JPEG;base64,{{user.details.image64code}}"></a></td>
                        <td style="vertical-align: top">
                            <div style="background-color: gainsboro; padding: 3px; padding-left: 5px"><a class="custom-link" ui-sref="userPage({userId: user.id})"><h4>{{user.fullName}}</h4></a></div>
                            <button type="button" class="btn btn-secondary btn-custom">{{'friends.send.message' | translate}}</button>
                            <button ng-show="!isRequestFriend" type="button" class="btn btn-secondary btn-custom" ng-click="sendFriendRequest(user.id)">{{'friends.add' | translate}}</button>
                            <button ng-show="isRequestFriend" disabled="disabled" style="margin-bottom: 5px" type="button" class="btn btn-secondary btn-custom">{{'user.friends.request.send' | translate}}</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
