<div class="nav flex-column nav-pills" id="v-pills-tab" aria-orientation="vertical">
    <a style="color: black" class="nav-link" ui-sref="myPage">{{'menu.home' | translate}}</a>
    <a style="color: black" class="nav-link" ui-sref="events">{{'menu.news' | translate}}</a>
    <a style="color: black" class="nav-link" ui-sref="friends">{{'menu.friends' | translate}}</a>
    <a style="color: black" class="nav-link" ui-sref="dialogs" >{{'menu.messages' | translate}}</a>
    <a style="color: black" class="nav-link" ui-sref="groups">{{'menu.groups' | translate}}</a>
</div>
