<div class="container" style="width: 400px" ng-controller="RegistrationController">
    <h3 class="center">{{'common.welcome.message' | translate}}</h3>
    <form>
        <div class="form-group">
            <label for="inputName">{{'common.name' | translate}}</label>
            <input ng-model="registrationData.name" type="text" class="form-control" id="inputName" placeholder="{{'common.name.enter' | translate}}">
        </div>
        <div class="form-group">
            <label for="inputSurname">{{'common.surname' | translate}}</label>
            <input ng-model="registrationData.surname" type="text" class="form-control" id="inputSurname" placeholder="{{'common.surname.enter' | translate}}">
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">{{'common.sex' | translate}}</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="FEMALE" ng-model="registrationData.sex" checked>
                        <label class="form-check-label" for="gridRadios1">
                            {{'common.FEMALE' | translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="MALE" ng-model="registrationData.sex">
                        <label class="form-check-label" for="gridRadios2">
                            {{'common.MALE' | translate}}
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <label for="inputEmail">{{'common.email' | translate}}</label>
            <input ng-model="registrationData.email" type="email" class="form-control" id="inputEmail" placeholder="{{'common.email.enter' | translate}}">
            <small id="emailHelp" class="form-text text-muted">{{'common.email.notice' | translate}}</small>
        </div>
        <div class="form-group">
            <label for="inputPassword">{{'common.password' | translate}}</label>
            <input ng-model="registrationData.password" type="password" class="form-control" id="inputPassword" placeholder="{{'common.password.enter' | translate}}">
        </div>
        <div ng-show="hasError()" class="alert alert-danger">
            <div ng-repeat="error in errors track by $index">{{error | translate}}</div>
        </div>
        <button ng-click="registration()" class="btn btn-primary">{{'common.registration' | translate}}</button>
        <a ui-sref="login">{{'common.login' | translate}}</a>
    </form>
</div>
