<div class="container" ng-controller="UserController">
    <div class="row" style="margin-top: 10px">
        <div class="col-sm-2">
            <ng-include src="'views/menu.html'"></ng-include>
        </div>

        <div class="col-sm-3" style="max-width: 250px">
            <div class="blocks">
                <img style="border-radius: .25rem; width: 100%" ng-src="data:image/JPEG;base64,{{user.details.image64code}}">
            </div>
            <button ng-show="isYouPage()" style="margin-bottom: 5px" type="button" class="btn btn-secondary btn-custom" ui-sref="profile">{{'common.edit' | translate}}</button>
            <button ng-show="!isYouPage()" type="button" class="btn btn-secondary btn-custom">{{'user.message.send' | translate}}</button>
            <button ng-show="!isYouPage() && !isFriendRequest() && !isFriend()" ng-click="sendFriendRequest()" style="margin-bottom: 5px" type="button" class="btn btn-secondary btn-custom">{{'user.friends.add' | translate}}</button>
            <button ng-show="!isYouPage() && isFriend()" disabled="disabled" style="margin-bottom: 5px" type="button" class="btn btn-secondary btn-custom">{{'user.friends' | translate}}</button>
            <button ng-show="!isYouPage() && isFriendRequest() && !isFriend()" disabled="disabled" style="margin-bottom: 5px" type="button" class="btn btn-secondary btn-custom">{{'user.friends.request.send' | translate}}</button>
            <div class="blocks">
                <div class="blocksTitle">
                    {{'common.friends' | translate}} ({{user.friends ? user.friends.length : 0}})
                </div>
                <div style="text-align: left">
                    <div style="display: inline-block; margin-left: 2px; margin-top: 3px " ng-repeat="friend in user.friends track by $index">
                        <div class="mini-image-block" style="background: url('data:image/gif;base64,{{friend.image64code}}') 40% 30% no-repeat;">
                            <a ui-sref="userPage({userId: friend.id})"></a>
                        </div>
                        <a class="custom-link" ui-sref="userPage({userId: friend.id})"><p style="width: 70px; text-align: center">{{friend.fullName}}</p></a>
                    </div>
                </div>
            </div>
            <div class="blocks">
                <div class="blocksTitle">{{'common.groups' | translate}} ({{user.groups ? user.groups.length : 0}})</div>
                <table>
                    <tr ng-repeat="group in user.groups track by $index">
                        <td>
                            <div class="mini-image-circle" style="background: url('data:image/gif;base64,{{group.image64code}}') 40% 30% no-repeat;">
                                <a ui-sref="groupPage({groupId: group.id})"></a>
                            </div>
                        </td>
                        <td style="width: 100%; text-align: center">
                            <a class="custom-link" ui-sref="groupPage({groupId: group.id})"><p>{{group.fullName}}</p></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="col-sm-6">
            <h3>{{user.fullName}}</h3>
            <table style="width: 100%">
                <tr>
                    <td style="width: 40%">{{'common.city' | translate}}:</td>
                    <td style="width: 60%">{{user.details.city}}</td>
                </tr>
                <tr>
                    <td>{{'common.sex' | translate}}:</td>
                    <td>{{'common.' + user.details.sex | translate}}</td>
                </tr>
                <tr>
                    <td>{{'common.birthday' | translate}}:</td>
                    <td>{{user.details.birthdayView}}</td>
                </tr>
            </table>

            <ng-include src="'views/templates/wall.html'" />
        </div>
    </div>
</div>
