<div class="container" ng-controller="EventController">
    <div class="row" style="margin-top: 10px">
        <div class="col-sm-2">
            <ng-include src="'views/menu.html'"></ng-include>
        </div>

        <div class="col-sm-6">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active">{{'event.title' | translate}}</a>
                </li>
            </ul>
            <br>
            <table style="width: 100%">
                <tr style="border: 1px solid gainsboro; margin-top: 3px" ng-repeat="event in events track by $index">
                    <td style="vertical-align: top;"><a href="#!/id{{event.userId}}"><img height="100px" ng-src="data:image/JPEG;base64,{{event.userAvatar64code}}"></a></td>
                    <td style="vertical-align: top">
                        <div><p>{{event.dateView}}</p></div>
                        <div style="padding: 3px; padding-left: 5px"><p>{{event.userName}} {{event.description | translate}} <a class="custom-link" href="#!/id{{event.targetActionId}}">{{event.targetActionName}}</a></p></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>