<div class="container" ng-controller="GroupController">
    <div class="row" style="margin-top: 10px">
        <div class="col-sm-2">
            <ng-include src="'views/menu.html'"></ng-include>
        </div>

        <div class="col-sm-6">
            <h3>{{group.name}}</h3>
            <p>{{group.description}}</p>
            <ng-include src="'views/templates/wall.html'"></ng-include>
        </div>
        <div class="col-sm-3">
            <div class="blocks" style="margin-bottom: 5px">
                <img style="border-radius: .25rem; width: 100%" src="../pic/camera_200.png"/>
            </div>
            <button ng-show="!isYou()" ng-click="join()" style="width: 100%; margin-bottom: 5px" type="button" class="btn btn-secondary btn-custom">{{'groups.enter' | translate}}</button>
            <button ng-show="isYou()" ng-click="join()" style="width: 100%; margin-bottom: 5px" type="button" class="btn btn-secondary btn-custom">{{'groups.exit' | translate}}</button>
            <div class="blocks">
                <div class="blocksTitle">
                    {{'groups.participant' | translate}} ({{group.participant ? group.participant.length : 0}})
                </div>
                <div style="text-align: left">
                    <div style="display: inline-block; margin-left: 2px; margin-top: 3px" ng-repeat="participant in group.participant track by $index">
                        <img src="../pic/camera_200.png" width="70" height="70" />
                        <p style="width: 70px; text-align: center">{{participant}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
