<div class="container" ng-controller="UserController">
    <div class="row" style="margin-top: 10px">
        <div class="col-sm-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" aria-orientation="vertical">
                <a style="color: black" class="nav-link" ui-sref="myPage">{{'menu.home' | translate}}</a>
                <a style="color: black" class="nav-link" ui-sref="friends">{{'menu.friends' | translate}}</a>
                <a style="color: black" class="nav-link" ui-sref="messages" >{{'menu.messages' | translate}}</a>
                <a style="color: black" class="nav-link" ui-sref="groups">{{'menu.groups' | translate}}</a>
            </div>
        </div>

        <div class="col-sm-3" style="max-width: 250px">
            <div class="blocks">
                <img style="border-radius: .25rem; width: 100%" src="../pic/camera_200.png"/>
            </div>
            <button ng-show="isYouPage()" style="margin-bottom: 5px" type="button" class="btn btn-secondary btn-custom" ui-sref="profile">{{'common.edit' | translate}}</button>
            <button ng-show="!isYouPage()" type="button" class="btn btn-secondary btn-custom">{{'user.message.send' | translate}}</button>
            <button ng-show="!isYouPage() && !isFriendRequest() && !isFriend()" ng-click="sendFriendRequest()" style="margin-bottom: 5px" type="button" class="btn btn-secondary btn-custom">{{'user.friends.add' | translate}}</button>
            <button ng-show="!isYouPage() && isFriend()" disabled="disabled" style="margin-bottom: 5px" type="button" class="btn btn-secondary btn-custom">{{'user.friends' | translate}}</button>
            <button ng-show="!isYouPage() && isFriendRequest() && !isFriend()" disabled="disabled" style="margin-bottom: 5px" type="button" class="btn btn-secondary btn-custom">{{'user.friends.request.send' | translate}}</button>
            <div class="blocks">
                <div class="blocksTitle">
                    {{'common.friends' | translate}} ({{user.friends ? user.friends.length : 0}})
                </div>
                <div style="text-align: left">
                    <div style="display: inline-block; margin-left: 2px; margin-top: 3px " ng-repeat="friend in user.friends track by $index">
                        <img src="../pic/camera_200.png" width="70" height="70" />
                        <p style="width: 70px; text-align: center">{{friend}}</p>
                    </div>
                </div>
            </div>
            <div class="blocks">
                <div class="blocksTitle">{{'common.groups' | translate}} ({{user.groups ? user.groups.length : 0}})</div>
                <table>
                    <tr ng-repeat="group in user.groups">
                        <td>
                            <img src="../pic/camera_200.png" width="60" height="60" />
                        </td>
                        <td style="width: 100%; text-align: center">
                            <p>{{group}}</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="col-sm-6">
            <h3>{{user.name}} {{user.surname}}</h3>
            <table style="width: 100%">
                <tr>
                    <td style="width: 40%">{{'common.city' | translate}}:</td>
                    <td style="width: 60%">{{user.details.city}}</td>
                </tr>
                <tr>
                    <td>{{'common.sex' | translate}}:</td>
                    <td>{{user.details.sex}}</td>
                </tr>
                <tr>
                    <td>{{'common.birthday' | translate}}:</td>
                    <td>{{user.details.birthdayView}}</td>
                </tr>
            </table>
            <h3>{{'common.wall' | translate}}</h3>
            <div class="form-group">
                <label for="formControlTextarea">{{'wall.message.enter' | translate}}</label>
                <textarea ng-model="message" class="form-control rounded-0" id="formControlTextarea" rows="3"></textarea>
            </div>
            <button ng-click="sendMessage()" style="margin-bottom: 5px" type="button" class="btn btn-secondary btn-custom">{{'wall.message.send' | translate}}</button>
            <table style="width: 100%">
                <tr ng-repeat="record in wall" style="margin-top: 3px">
                    <td style="width: 12%; vertical-align: top; height: 50px;"><img src="../pic/camera_200.png" height="100px"/></td>
                    <td style="width: 60%; vertical-align: top; border: 1px solid gainsboro">
                        <div style="background-color: gainsboro; padding: 3px; padding-left: 5px">
                            <div>{{record.sender}}</div>
                            <div>{{record.createDate}}</div>
                        </div>
                        <div style="padding: 3px; padding-left: 5px">{{record.message}}</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>